<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Cadastro de veículos</title>
		<link rel="stylesheet" href="/styles/style.css">
	</head>
	<body>
		{{ form_start(formVeiculo, { 'action': path('update')} ) }}
			{{ form_widget(formVeiculo) }}
			<div>
			<input id="submit" type="submit" value="Atualizar"/>
			</div>
			{{ form_errors(formVeiculo) }}
		{{ form_end(formVeiculo) }}
    <!-- <script src="/javascripts/validation.js"></script> -->
	</body>
</html>
